/* ------------------------- Main Content ------------------------------ */
.html{
     background: #cfe8fb;
}


body {
    font-family: Oswald;
    margin: 0;
    line-height: 1.42857143;
}

h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    margin: 0px;
    font-size: 40pt;
}


.background {
    margin: 0;
}

.container {
    width: 80%;
    height: 100%;
    margin: 50px auto 50px;
    background: white;
    padding: 10px 20px;
    text-align: center;
    font-family: Oswald;
    font-size: 25px;
    color: #34495E;
}



#enter {
    letter-spacing: 0.3rem;
    font-size: 1.5rem;
    font-family: Oswald;
    text-transform: uppercase;
    color: white;
    margin-left: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    background-color: #3399FF;
    border: 1px black;
    border-radius: 5px;
    cursor: pointer;
}

#info_submit, #present, #absent, #start_questions, #next, #submit,#moreQuestions {
    text-align: center;
    font-size: 12pt;
    font-family: Oswald;
    margin: 3px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #77abec;
}

#introduction {
    text-align: center;
}

#section_explanation {
    margin-left: 50px;
    margin-right: 50px;
    color: #3399FF;
}

#welcome {
    margin-top: -540px;
    box-sizing: border-box;
    display: block;
}

.bar{
     opacity: 0.5;
background: black;
}

.onTop {
    padding: 30px;
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.45)
}


.intro_text {
    height: 1000px;
    background-image:linear-gradient( rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),url(images/symptom_checker.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 30px;
}

.hidden {
    display: none;
}

.highlight {
    border-color: red;
}

.question {
    border: 1px solid #1F497D;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 5px;
}

.information {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

.infermedica_icon {
    height: 50px;
}


/* ---- Text----- */

.bold {
    font-weight: bold;
    font-size: 14pt;
}

.color {
    color: red;
}

#symptoms {
    width: 60%;
    height: 20px;
    margin-bottom: 20px;
}

#patient_name, #patient_age {
    margin-bottom: 10px;
    height: 20px;
}


/* ---------------------------------- Fieldset----------------------------------- */

fieldset {
    margin: 20px;
    font-family: Oswald;
    border: 1px solid #1F497D;
    border-radius: 5px;
    padding: 15px;
}

legend {
    text-align: left;
    background: #77abec;
    color: #0c0c0c;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #1F497D;
}

label {
    text-align: right;
    width: 10%;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.select {
    text-align: center;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

input[type="radio"] {
    display: inline-flex;
}

#symtomLabel{
     text-align: left;;
}


/* ---------------------------------- Accordian----------------------------------- */

.accordian .transition, .accordian .artlist, .accordian ul li i:before, .accordian ul li i:after {
    transition: all 0.25s ease-in-out;
}

.accordian .no-select, .accordian h2 {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.accordian h3 {
    letter-spacing: 1px;
    display: block;
    margin: 0;
    cursor: pointer;
}

.accordian .artlist {
    font-size: 20px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin: 0;
    margin: 14px 0;
    z-index: 2;
}

.accordian ul {
    list-style: none!important;
    perspective: 900;
    padding: 0;
    margin: 0;
}

.accordian ul li {
    position: relative;
    padding: 0;
    margin: 0;
    padding: 10px 0;
    border-top: 1px solid #dce7eb;
}

.accordian ul li:nth-of-type(1) {
    animation-delay: 0.5s;
    border-top: none;
}

.accordian ul li:nth-of-type(2) {
    animation-delay: 0.75s;
}

.accordian ul li:nth-of-type(3) {
    animation-delay: 1s;
}

.accordian ul li:last-of-type {
    padding-bottom: 0;
}

.accordian ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 3px;
    right: 0;
}

.accordian ul li i:before, ul li i:after {
    content: "";
    position: absolute;
    background-color: #ff6873;
    width: 3px;
    height: 9px;
}

.accordian ul li i:before {
    transform: translate(-2px, 0) rotate(45deg);
}

.accordian ul li i:after {
    transform: translate(2px, 0) rotate(-45deg);
}

.accordian ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.accordian ul li input[type=checkbox]:checked~.artlist {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
    margin: 0;
}

.accordian ul li input[type=checkbox]:checked~i:before {
    transform: translate(2px, 0) rotate(45deg);
}

.accordian ul li input[type=checkbox]:checked~i:after {
    transform: translate(-2px, 0) rotate(-45deg);
}


/* ---------------------------------- Footer----------------------------------- */

.footer {
     margin-top: 30px;
     margin-bottom: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    height: 30px;
    background-color: #cfe7fb;
    text-align: center;
    z-index: 3;
}

.footer > .footercontainer {
    padding: 0 10%;
    text-align: center;
    font-family: arial;
    font-size: 16px;
}

.text-muted {
    color: #777;
    text-align: center;
}

.link {
    color: inherit;
    text-decoration: inherit;
}

.hover:hover{
     color:#77abec;
     cursor: pointer;
}


/* ---------------------------------- modal pop-up----------------------------------- */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 31485;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
    font-size: 18px;
    background: white;
    border-radius: 9px;
    font-family: Oswald;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}




/* --------------------------------------- Media Queries --------------------------------------- */

/* ----------- mobile phones ----------- */

@media only screen and (max-width: 800px) {
    h1 {
        color: white;
        text-shadow: 2px 2px 4px #000000;
        margin: 0px;
        margin-left: 100px;
        margin-right: 100px;
        font-size: 18pt;
    }
    .bar{
         opacity: 0.5;
    background: black;
    }

    .onTop {
        padding: 14px;
        position: relative;
        z-index: 2;
        background: rgba(0, 0, 0, 0.4)
    }


    #welcome {
    margin-top: -430px;
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
     }

    .intro_text {
        height: 800px;
        background-image:linear-gradient( rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),url(images/symptom_checker_small.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        font-size: 30px;
    }


    #enter {
    margin: 20px;
    letter-spacing: 0.3rem;
    font-size: 18px;
    font-family: Oswald;
    text-transform: uppercase;
    color: white;
    margin-left: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    background-color: #3399FF;
    border: 1px black;
    border-radius: 5px;
    cursor: pointer;
     }

    .footer {
        display: none;
    }
    body {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 400px) {
     h1 {
        color: white;
        text-shadow: 2px 2px 4px #000000;
        margin: 0px;
        margin-left: 100px;
        margin-right: 100px;
        font-size: 18pt;
    }
    .bar{
         opacity: 0.5;
    background: black;
    }

    .onTop {
        padding: 14px;
        position: relative;
        z-index: 2;
        background: rgba(0, 0, 0, 0.4)
    }


    #welcome {
    margin-top: -550px;
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
     }

    .intro_text {
        height: 800px;
        background-image:linear-gradient( rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),url(images/symptom_checker_small.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        font-size: 30px;
    }


    #enter {
    margin: 5px;
    letter-spacing: 0.3rem;
    font-size: 18px;
    font-family: Oswald;
    text-transform: uppercase;
    color: white;
    margin-left: auto;
    padding: 1rem 1rem 1rem 1rem;
    background-color: #3399FF;
    border: 1px black;
    border-radius: 5px;
    cursor: pointer;
     }

    .footer {
        display: none;
    }
    body {
        margin-bottom: 20px;
    }
}

/* ----------- ipads ----------- */

@media only screen and (max-height: 1000px) {
}
